<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary Generator</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj-qnkdxbjjZIlQ9mM4x4bR7L_bXXpDeU&libraries=places&v=weekly"></script>
    <script src="/js/requests.js"></script>
    <script src="/js/itinerary.js"></script>
    <script src="/js/indexPage.js"></script>
    
</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
        $("#nav-placeholder").load("/nav");
    });
    </script>

<div class="container mt-5 align-items-center">
    <div class="step0 row">
        <div class="col-md-6 text-center border-end align-items-center">
            <div class="h5 text-center">Did someone share an itinerary with you?<br>Have you already created an itinerary yourself?<br><br>Enter it's code below.</div>
            
            <div class="input-group my-3">
                <span class="input-group-text" id="basic-addon1">Itinerary Code: </span>
                <input type="text" id="code" class="form-control" size="36" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" aria-label="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" aria-describedby="basic-addon1">
            </div>
            <div id="errorMessage" class="text-error"></div>
            <button type="button" class="btn btn-success col-md-3" id="loadFromCodeButton">Load It!</button>
        </div>
        <div class="col text-center border-start align-items-center">
            <div class="h5 text-center">Build a new itinerary from scratch (for newcomers)</div>
            <br>
            <button class="btn btn-lg btn-primary" id="newItineraryButton">Plan New Trip</button>
        </div>
    </div>
</div>