<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary Generator</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj-qnkdxbjjZIlQ9mM4x4bR7L_bXXpDeU&libraries=places&v=weekly"></script>
    <script src="/js/requests.js"></script>
    <script src="/js/itinerary.js"></script>
    <script src="/js/indexPage.js"></script>
    
</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
        $("#nav-placeholder").load("/nav");
    });
    </script>

<body class="">
    <div id="contents" style="height:100%">
        <div class="row" style="width:100%">
            <div class="col" style="max-width:fit-content; padding:50px;">
                <div class="text-center" style="padding:50px;">
                    <br>
                    <div class="h5">Build a new itinerary from scratch (for newcomers)</div>
                    <br>
                    <button class="btn btn-lg btn-primary" id="newItineraryButton">Plan New Trip</button>
                    <hr>
                    <div class="text-center align-items-center" style="padding:50px">
                        <div class="h5">Did you want to see an itinerary that exists already?<br>Copy its unique code and paste it below!<br></div>
                        
                        <div class="input-group my-3" style="text-align:center">
                            <span class="input-group-text" id="basic-addon1">Itinerary Code: </span>
                            <input type="text" id="code" class="" size="40" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" aria-label="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" aria-describedby="basic-addon1">
                        </div>
                        <div id="errorMessage" class="text-error"></div>
                        <button type="button" class="btn btn-success col-md-3" id="loadFromCodeButton">Load It!</button>
                        <br>
                    </div>
                </div>
            </div>
            <div id="carousel" class="col carousel slide" data-bs-ride="carousel" style="height:100%; width:100%">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="pictures/map.png" class="d-block w-100" alt="map">
                  </div>
                  <div class="carousel-item">
                    <img src="pictures/itinerary.png" class="d-block w-100" alt="itinerary">
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>