<div class="pillTabs d-flex justify-content-center d-flex align-items-center">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-Service-tab" data-toggle="pill" href="#Service" role="tab" aria-controls="Service" aria-selected="true">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-Travel-tab" data-toggle="pill" href="#Travel" role="tab" aria-controls="Travel" aria-selected="false">Travel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-Entertainment-tab" data-toggle="pill" href="#Entertainment" role="tab" aria-controls="Entertainment" aria-selected="false">Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-Food-tab" data-toggle="pill" href="#Food" role="tab" aria-controls="Food" aria-selected="false">Store (food)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-GeneralShopping-tab" data-toggle="pill" href="#GeneralShopping" role="tab" aria-controls="GeneralShopping" aria-selected="false">General Shopping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-Religious-tab" data-toggle="pill" href="#Religious" role="tab" aria-controls="Religious " aria-selected="false">Religious </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-Government-tab" data-toggle="pill" href="#Government" role="tab" aria-controls="Government" aria-selected="false">Government</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-Education-tab" data-toggle="pill" href="#Education" role="tab" aria-controls="Education" aria-selected="false">Education</a>
      </li>
    </ul>
  </div>

  <hr class="FilterHR">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="Service" role="tabpanel" aria-labelledby="pills-Service-tab">
        
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle3"> I have a boat</label>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle3"> I have a boat</label>
          <br><br>

      </div>
      
      <div class="tab-pane fade" id="Travel" role="tabpanel" aria-labelledby="pills-Travel-tab">
        
        <table id="table-filter" class="table">
          <tbody>
            <tr>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
            </tr>

            <tr>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
              <td>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </td>
            </tr>
            
          </tbody>
        </table>

      </div>
      
      <div class="tab-pane fade" id="Entertainment" role="tabpanel" aria-labelledby="pills-Entertainment-tab">
        Entertainment

      </div>
      
      <div class="tab-pane fade" id="Food" role="tabpanel" aria-labelledby="pills-Food-tab">
        Food

      </div>
      
      <div class="tab-pane fade" id="GeneralShopping" role="tabpanel" aria-labelledby="pills-GeneralShopping-tab">
        GeneralShopping</div>
      
      <div class="tab-pane fade" id="Religious" role="tabpanel" aria-labelledby="pills-Religious-tab">
        Religious

      </div>
      
      <div class="tab-pane fade" id="Government" role="tabpanel" aria-labelledby="pills-Government-tab">
        Government

      </div>
      
      <div class="tab-pane fade" id="Education" role="tabpanel" aria-labelledby="pills-Education+-tab">
        Education

      </div>
    
    </div>