  /* login
  ========================================= */
  body {
  margin: 0;
  padding: 0;
  /* background-color: #17a2b8; */
  height: 100vh;
  }

  #LoginTitle {
  font-family: Tahoma, Geneva, sans-serif;
  font-size:100px;
  color: black;
  }

  #login-box #login-form {
  margin-top: 300px;
  max-width: 600px;
  height: auto;
  border: 3px solid black;
  background-color: grey;
  }

  #login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
  }

  #login .container #login-row #login-column #login-box #login-form  {
  margin-top: 80px;
  }

  #Unauthorized {
  color:red;
  font-size:25px;
  }

  .form-group label
  {
  font-size:30px;
  font-family: Tahoma, Geneva, sans-serif;
  }


  /* Navbar
  ========================================= */
  .navbar-title
  {
  font-family: Tahoma, Geneva, sans-serif;
  font-size:40px;
  color: black;
  line-height: 5px;
  margin-top: 15px;
  }

  .dropdown-item:hover {
  background-color: lightgray;
  }

  .bodyNav { 
  padding-top: 0px;
  background-color: #bbaaaa; 
  }

  .navbar {
    margin-bottom: 0px;
  }
  /* Homepage "Change color schema after decesion is made"
  ========================================= */

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
  border: 1px solid black;

}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 94%;
  margin: 0px;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.container-map{
  width: 98vw;
}

.containermap{
  margin-top: 70px;
}

  #HM{
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    height: 85vh;
  }

  #HC{
    margin-left: 0px;
    height: 85vh;
  }

  input[type=text-search] {
    border: 1px solid black;
    border-radius: 5px;
  }

  #miles
  {
    margin-left: 0px;
    border-radius: 10px;
  }

  .FilterHR {
    border: 1px solid black;
    margin: 0%;
    margin-bottom: 5px;
    background-color: black
    }

  /* for :horizontal view */
  #table-filter {
    border: 0px solid black;
  }
  
  #filterList1,#filterList2,#filterList3,#filterList4,#filterList5,#filterList6 {
  overflow-x: hidden;
  }

  #filterCOL {
    overflow-x: hidden;
    height: 300px;
    }

    .absolute-bottom {
      position:absolute;
      bottom:10;
      width: 100%;
      max-width: 97%}

    #results_div{
      border: 2px solid black;
      border-radius: 10px;     
      height: 63%;
    }

    .name{
      font-weight: bold;
      font-size: 20px;
    }
    .fillsearch{
      border: 2px solid black;
      border-radius: 10px;}
  /* Profile 
  ========================================= */
  #labelProfile {
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  }

  .ProfileHR {
    border: 1px solid black;
    }

  .ProfileHRClear {
    border: 1px solid white;
    }


  /* Contact 
  ========================================= */
  #tableDiv
  {
    margin: 0px;
    margin-bottom: -10px;
  }

  table {
    border: 1px solid black;
    }


    /* Admin 
  ========================================= */
    .adminEdit{
      color: blue;
    }

    .btn-group-xs > .btn, .btn-xs {
      padding: .25rem .4rem;
      font-size: .875rem;
      line-height: .5;
      border-radius: .2rem;
    }

    #editButton{
      margin-top: 5px;
    }

    .modal-body {
      position: relative;
      /* overflow-y: auto; */
      max-height: 400px;
      padding: 15px;
  }

  #editModalWarning {
    font-size:15px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    }
  
   /* 404 
  ========================================= */
  .error-template {padding: 40px 15px;text-align: center;}
  .error-actions {margin-top:15px;margin-bottom:15px;}
  .error-actions .btn { margin-right:10px; }

  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }